@font-face {
  font-family: hotelFont;
  src: url(source/hotel_de_paris.ttf);
}

html {
  font-family: sans-serif;
}

legend {
  font-family: ssans-serif;
  font-size: larger;
  font-weight: bold;
  color: #565656;
}

.theme {
  /* background-color: gold; */
}

.container {
  display: flex;
}

.left-page {
  /* border: 1px solid black; */
  width: 40rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  /* align-items: center; */
  /* flex: 1;
  background-color: #ee4d2d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

.right-page {
  /* display: flex;
  flex: 1; */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.top {
  /* border: 1px solid black; */
  /* font-family: hotelFont; */
  font-family: serif;
  text-align: center;
  /* color: #0d3b66; */
  color: #c49a6c;
}

img#form {
  width: 35vw;
}

input[type="submit"] {
  padding: 15px;

  color: #d4ab7f;
  background-color: #565656;

  border-radius: 30px;
  border: 2px solid #c49a6c;

  font-size: 20px;
  font-weight: bold;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s, color 0.2s, scale 0.2s;
}

input[type="submit"]:hover {
  color: #565656;
  background-color: #d4ab7f;

  border-radius: 30px;
  border: 2px solid #c49a6c;

  transition: 0.2s;
  scale: 1.05;
}

input {
  border: 1px solid rgb(196, 154, 108);
}

.centering {
  /* border: 1px solid black; */
  text-align: center;
}
